cleanlab # Some examples may require you to instead install latest developer version of cleanlab from github: pip install git+https://github.com/cleanlab/cleanlab.git
annoy==1.17.1
autogluon==0.5.2
ipykernel==6.15.2
ipywidgets==8.0.2
jupyterlab
matplotlib==3.5.1
nltk==3.7
numpy==1.22.0
pandas==1.4.1
papermill==2.4.0
Pillow==9.0.1
scikit_learn==1.0.2
scipy==1.7.3
six==1.16.0
statsmodels==0.13.2
tensorflow==2.9.2 # for Macs with Apple silicon : tensorflow-macos==2.9.2 and tensorflow-metal==0.5.1
tensorflow-datasets==4.6.0
tqdm>=4.64.0
transformers
black[jupyter]
