# This notebook requires cleanlab versions >= 2.3.0:  pip install "cleanlab>=2.3.0"
ipywidgets==8.0.2
tensorflow==2.9.2 # for Macs with Apple silicon : tensorflow-macos==2.9.2 and tensorflow-metal==0.5.1
transformers==4.21.3
